
.notable-regular {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  color: beige;
}


.nunito-sans-light {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

