html,body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

#root{
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: beige;
}

