.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
}

h2{
    text-align: center;
}

.login{
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}


.login >form {
    width: 50%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    border-radius: 8px;
    padding-top: 30px;
    padding-bottom: 30px;
}

input {
    height: 24px;
    width: 75%;
    
    margin-bottom: 8px;
}

button{
    width: 75px;
    height: 30px;
    text-align: center;
    background-color: rgb(250, 128, 114);
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    transition: background-color 0.3s ease;

}

button:hover {
    background-color: rgb(240, 110, 90);
}

button:active {
    background-color: rgb(230, 90, 70);
}

.error {
    color: #d32f2f;
    font-size: 14px;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
}