.navbar{
    display: flex;
    height: 52px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: lightgrey;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    font-weight: 500;
}

.navbar-left{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    gap:30px;
    width: 50%;
    background-color: salmon;
    padding-left: 5px;
    color: black;
}

.navbar-right{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding-right: 40px;
    align-items: center;
    gap:30px;
    width: 50%;
    background-color: salmon;
}

.search{
    background-color: aliceblue;
    height: 60%;
    width: 40%;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:4px;
    gap:25%;
}

.watchlist, .watched {
    margin: 0;
    padding: 0;
}
