
.popular-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.popular-title{
    font-size: 50px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: 100;
}

.popular{
    width: 100%;
    height: 25%;
    justify-content: flex-start;
    gap: 80px;
    align-items: center;
    overflow-x: scroll;
    background-color: balck;
    display: flex;
    padding-inline:54px;
    margin-right: 50px;
    padding-bottom: 30px;
}

.popular > *:last-child{
    margin-right: 68px;
}

.popular::-webkit-scrollbar {
    display: none;
}

.rank{
    color: salmon;
    margin:0;
    margin-left: -50px;
    margin-bottom: -30px;
    z-index: 2; /* only works with position */
}


