.section-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.section-title{
    font-size: 50px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: 100;
}

.section{
    width: 100%;
    height: 25%;
    justify-content: flex-start;
    gap: 80px;
    align-items: center;
    overflow-x: scroll;
    background-color:rgb(0, 0, 0);
    display: flex;
    padding-inline:54px;
    margin-right: 50px;
    padding-bottom: 30px;
}

.section > *:last-child{
    margin-right: 84px;
}

.section::-webkit-scrollbar {
    display: none;
}

