.watchlist-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    margin-bottom: 30px;
}